/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Special Elite', cursive;
  background-color: #000000;
  color: #ffffff;
  text-align: justify;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  height: auto;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Header */

header {
  background-color: #C0C0C0;
  border-top: solid 1px #000000;
}

.title {
  color: #000000;
  float: left;
  text-align: center;
}

.logo {
  font-weight: 800;
  color: #ff0000;
}

.headergraphic {
  float: right;
}

#header-photo {
  border: solid 2px #ff0000;
}

/* Navigation Menu */

nav {
  background-color: #000080;
}

nav ul li {
  display: inline-block;
}

nav a {
   color: #ffff00;
}

.yellow {
  color: #ffff00;
}

/* Homepage */

.topbox {
  background-image: url("../images/CoverPhotos/museum-entrance.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #000000;
}

.welcome {
  float: left;
  background-color: #000000;
  color: #ffffff;
  text-align: left;
}

#name {
  font-weight: 800;
  font-style: italic;
  color: #ff0000;
}

.navigation-instructions {
  float: left;
}

.navigation-graphic {
  float: left;
}

#updates {
  border-top: solid 1px #ffffff;
}

h2 {
  text-align: center;
  color: #ff0000;
  font-weight: 800;
}

h3 {
  text-align: center;
}

h3 a {
  color: #ff0000;
  font-weight: 800;
  text-align: justify;
}

/*Memorabilia*/

.category {
  width: 47%;
}

.hidden a {
  cursor: text;
}

.hidden a:visited {
  color: #000000;
}

.photo-row {
  width: 100%
  text-align: justify;
  display: inline-block;
}

/*History*/

.smallbox {
  float: left;
  display: inline-block;
}

.smallbox h3 {
  text-align: left;
}

.category {
  box-sizing: border-box;
  float: left;
}

.highlighted-name {
  color: #ff0000;
  font-style: italic;
}

#ads {
  background-color: #000000;
}

#collage img {
  float: left;
}

/*Equipment*/

.centered-image {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  border: solid 1px blue;
}

/*About*/

#bioblock {
  border-top: solid 1px #ffffff;
}

.bio {
  float: left;
}

.biopic {
  float: left;
}

.links-photos {
  width: 30%;
  float: left;
  display: inline-block;
  margin-right: 15px;
}                                                                                     

.links-box {
  border-top: solid 1px #0000ff;
  padding: 25px;
}

.links-text {
  width: 57%;
  float: left;
  display: inline-block;
}

.links-explanation {
  font-size: 16px;
  margin-top: 15px;
}

.links-text a {
  color: #ffff00;
}

/* Contact */

#note {
  float: left;
}

#notephoto {
  float: left;
  border: solid 2px red;
}

.headergraphic-left {
  float: left;
}

#contact-photo {
    max-width: 100%;
}

/* Newsfeed */

#mission {
  color: #ff0000;
  font-weight: 800;
}

#guide {
  font-weight: 800;
}

#foodMap {
    border: solid 2px #ff0000;
    float: right;
}

.latest-review {
  font-family: 'Kalam', cursive;
  background-repeat: no-repeat;
  border-top: solid 1px #ffffff;
  border-bottom: solid 1px #ffffff;
}

#review-title {
  background-image: url("../images/Graphics/Map-banner.jpeg");
  background-size: cover;
}

.review {
  background-image: url("../images/Graphics/Vintage-Notebook.jpeg");
  background-size: cover;
  color: #000000;
}

.food-review {
  float: left;
}

.food-photo {
  float: left;
}

.food-photo img {
  border: solid 1px #000000
}

h6 {
  font-weight: 800;
  text-align: center;
}

.address {
  font-weight: 800;
  text-align: center;
}

#mid-atlantic {
  display: inline-block;
  background-image: url("../images/CoverPhotos/Seafood.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#midwest {
  display: inline-block;
  background-image: url("../images/CoverPhotos/Dutch-baby.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#northeast {
  display: inline-block;
  background-image: url("../images/CoverPhotos/Bagel-and-lox.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#pacific-northwest {
  display: inline-block;
  background-image: url("../images/CoverPhotos/Salmon.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#southeast {
  display: inline-block;
  background-image: url("../images/CoverPhotos/Fried-chicken-and-gravy.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#southwest {
  display: inline-block;
  background-image: url("../images/CoverPhotos/Mexican-corn.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#west {
  display: inline-block;
  background-image: url("../images/CoverPhotos/Steak.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#international {
  display: inline-block;
  background-image: url("../images/CoverPhotos/Dumplings.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.region {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
}

.region h5 {
  text-align: center;
  font-weight: 600;
}

h5 a {
  color: #000000;
}

/*Food Map*/

.close {
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* For More On The Story */

.text-left {
  float: left;
}

#pinata {
  float: left;
}

/* Conflict Gallery */

.navigation-bar {
  border-top: solid 1px #808080;
  border-bottom: solid 1px #808080;
}

.red {
  color: #ff0000;
}

.navigation-bar a {
  color: #ffffff;
}

.next-item a {
  color: #ffffff;
}

#gulf-wars {
  display: inline-block;
  width: 30%;
  background-image: url("../images/Galleries/Arnett.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#balkan-wars {
  display: inline-block;
  width: 30%;
  background-image: url("../images/Galleries/CA-at-airport.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#afghanistan {
  display: inline-block;
  background-image: url("../images/Galleries/afghan-friends.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#arab-israeli-conflict {
  display: inline-block;
  background-image: url("../images/Galleries/Arafat.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#chechnya {
  display: inline-block;
  background-image: url("../images/Galleries/grozny.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#other-conflicts {
  display: inline-block;
  background-image: url("../images/Galleries/haiti-aircraft-carrier.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.conflict-category {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
}

.conflict-category h5 {
  text-align: center;
  font-weight: 600;
}

/* Gallery Category Pages */

.gallery-layout {
  display: inline-block;
  width: 20%;
  margin: 15px;
}

.gallery-item {
  background-color: #FFFFFF;
  color:#000000;
}

.item-label {
  text-align: center;
  margin-top: 15px;
}

.item-label a {
  color: #FFFFFF;
}

.inline-photos {
  display: inline-block;
  height: 250px;
}


/* Gallery Item Pages */

/* Style the Image Used to Trigger the Modal */
#shatteredGlass {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#shatteredGlass:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#shatteredGlassCaption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #shatteredGlassCaption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.item-block {
  border-top: 5px ridge blue;
  border-bottom: 5px ridge blue;
  padding: 15px;
}

.item-image {
  display: inline-block;
  float: left;
  margin-bottom: 15px;
}

.item-text {
  line-height: 30px;
}

.passage {
  font-style: italic;
  padding-left: 30px;
}

/* Politics Gallery */

#pre-1980 {
  display: inline-block;
  width: 30%;
  background-image: url("../images/Galleries/Nixon.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#reagan {
  display: inline-block;
  width: 30%;
  background-image: url("../images/Galleries/santa-barbara.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#hwbush {
  display: inline-block;
  width: 30%;
  background-image: url("../images/Galleries/hw-bush-speech.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#clinton {
  display: inline-block;
  width: 30%;
  background-image: url("../images/Galleries/HRC.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#wbush {
  display: inline-block;
  width: 30%;
  background-image: url("../images/Galleries/George-W-Bush.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#obama {
  display: inline-block;
  width: 30%;
  background-image: url("../images/Galleries/Obama.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#trump {
  display: inline-block;
  width: 30%;
  background-image: url("../images/Galleries/Trump-interview.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#foreign-politics {
  display: inline-block;
  width: 30%;
  background-image: url("../images/Galleries/yeltsin-presidential-pinback.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#pence {
  display: inline-block;
  width: 30%;
  background-image: url("../images/Galleries/pence-trump.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
}

/* Footer */

footer {
  background-color: #C0C0C0;
  text-align: center;
}

.footerbox {
  float: left;
}

footer ul li {
  display: inline-block;
  list-style: none;
}

h4 {
  font-size: 32px;
  color: #000000;
  font-weight: 800;
}

footer p {
  color: #000000;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/




@media(min-width: 320px) {
  /* small portrait screens */

/******************************************
/* BASE STYLES
/*******************************************/

  body {
    max-width: 320px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.2;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .container {
    max-width: 100%;
    height: auto;
  }

  /******************************************
  /* LAYOUT
  /*******************************************/

  /* Header */

  header {
    padding-bottom: 150px;
  }

  .title {
    font-size: 24px;
    padding-top: 25px;
    padding-left: 30px;
  }

  .logo {
    font-size: 60px;
  }

  #header-photo {
  
  }

  .centered-title {
    padding-left: 70px;
  }

  .contact-title {
    padding-left: 125px;
  }

  #welcome-to {
    padding-left:55px;
  }

  /* Navigation Menu */

  nav {
    padding: 10px;
    font-size: 22px;
  }

  nav ul li {
    margin: 0 20px 0 20px;
    padding: 10px;
  }

  /* Homepage */

  .topbox {
    min-height: 500px;
    padding: 10px;
  }

  .welcome {
    width: 316px;
    padding: 26px;
    margin: 20px;
    font-size: 24px;
  }

  .navmargin {
    margin-bottom: 25px;
  }

  .indented-paragraph {
    margin: 0 35px;
    line-height: 30px;
  }

  #navigation-section {
    margin: 25px 0px 20px 20px;
    line-height: 30px;
    border-bottom: 15px;
  }

  .navigation-instructions {
    padding: 5px 30px 30px 10px;
    width: 45%;
  }

  .navigation-graphic {
    margin: 15px 15px 15px 0px;
  }

  #history-instructions {
    margin: 0 25px 0 0;
  }

  #updates {
    padding-top: 25px;
    margin: 25px auto;
  }

  .paragraph {
    margin: 25px;
  }

  h2 {
    font-size: 38px;
    padding-bottom: 15px;
    padding-top: 25px;
  }

  h3 {
    font-size:26px;
  }

    h3 a {
    font-size: 26px;
  }

  #ads {
    margin: 25px 75px 25px 45px;
  }

  #newsroom {
    margin-left: 35px;
  }

  #collage img {
    width: 50%;
  }

  /*History*/

  #history-title {
    padding-left: 235px;
    font-size: 26px;
  }

  .smallbox {
    width: 33%;
    margin: 40px auto;
    padding-right: 20px;
  }

  .category {
    width: 45%;
    margin: 15px 40px 15px 0;
  }

  .history-category {
    width: 50%;
    display: inline-block;
    float: left;
    padding: 15px;
  }

  .body-text {
    padding-top: 25px;
  }

  #news-timeline {
    margin-bottom: 35px;
  }

  #slide-show-title {
    font-size: 36px;
    padding: 45px 0 15px 0;
  }

  /*About*/

  #bioblock {
    margin: 40px auto;
    padding-bottom: 600px;
  }

  .bio {
    width: 50%;
    margin-right: 50px;
    margin-bottom: 25px;
    margin-left: 35px;
  }

  .biopic {
    padding-top: 85px;
  }

  /* Contact */

  form {
    margin: 25px 25px 25px 125px;
  }

  #note {
    width: 45%;
    padding: 25px;
    font-size: 26px;
    line-height: 40px;
  }

  #notephoto {
    margin: 25px;
    margin-bottom: 50px;
  }

  /* Newsfeed */

  #mission {
    font-size: 30px;
    line-height: 1.7;
  }

  #guide {
    font-size: 30px;
  }

  #nfh {
    margin-bottom: 25px;
  }

  #foodMap {
      width: 27.3%;
  }

  .intro {
    margin: 25px 25px 25px 70px;
    width: 85%;
  }

  .latest-review {
    padding: 25px 0;
    margin: 30px auto;
  }

  #review-title {
    width: 850px;
    padding: 30px;
    margin-left: 50px;
  }

  .food-intro {
    margin-top: 15px;
  }

  .review {
    padding: 40px 0px 0px 55px;
    height: 550px;
  }

  .food-review {
    width: 45%;
    padding-right: 25px;
  }

  .food-photo {
    width: 45%;
    padding-left: 45px;
    padding-top: 55px;
  }

  h6 {
    font-size: 22px;
  }

  .address {
    padding: 15px 0;
  }

  .right-page {
    margin-left: 35px;
  }

  #mid-atlantic {
    width: 23%;
    min-height: 150px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #midwest {
    width: 23%;
    min-height: 150px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #northeast {
    width: 23%;
    min-height: 150px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #pacific-northwest {
    width: 23%;
    min-height: 150px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #southeast {
    width: 23%;
    min-height: 150px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #southwest {
    width: 23%;
    min-height: 150px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #west {
    width: 23%;
    min-height: 150px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #international {
    width: 23%;
    min-height: 150px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  .region h5 {
    font-size: 22px;
  }

  /*Food Map*/

  #large-food-map {
    padding-top: 25px;
  }

  .close {
      top: 15px;
      right: 35px;
      font-size: 40px;
  }

 /* That's The Way It Was */

  .newspaper {
      padding-left: 50px;
  }

  .newspaper img {
      width: 95%;
  }

  /* For More On The Story */

  .text-left {
    width: 50%;
    line-height: 34px;
  }

  .text {
    line-height: 34px;
    margin: 15px 0;
  }

  #pinata {
    width: 45%;
    margin: 5px 0 25px 35px;
  }

  #trump-toilet-paper {
    margin-right: 45px;
  }

  /* Conflict Gallery */

  .navigation-bar {
    margin-top: 25px;
    padding-top: 5px;
    font-size: 14px;
  }

  .next-item {
    font-size: 14px;
    margin-top: 5px;
  }

  #gulf-wars {
    width: 30%;
    min-height: 200px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #balkan-wars {
    width: 30%;
    min-height: 200px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #afghanistan {
    width: 30%;
    min-height: 200px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #arab-israeli-conflict {
    width: 30%;
    min-height: 200px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #chechnya {
    width: 32%;
    min-height: 200px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #other-conflicts {
    width: 30%;
    min-height: 200px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  .conflict-category h5 {
    font-size: 22px;
    margin-top: 125px;
  }

  /* Gallery Category Pages */

  .gallery-layout {
    margin-bottom: 25px;
  }

  .gallery-section-intro {
    margin: 25px 0;
  }

  /* Gallery Item Pages */

  .item-pages {
    margin: 25px auto;
  }

  .item-image {
    margin-right: 20px;
  }

  /* Politics Gallery */

  #pre-1980 {
    width: 30%;
    min-height: 200px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #reagan {
    width: 30%;
    min-height: 200px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #hwbush {
    width: 30%;
    min-height: 200px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #clinton {
    width: 30%;
    min-height: 200px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #wbush {
    width: 32%;
    min-height: 200px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #obama {
    width: 30%;
    min-height: 200px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #trump {
    width: 30%;
    min-height: 200px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #foreign-politics {
    width: 32%;
    min-height: 200px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  /* Footer */

  footer {
    padding: 30px;
  }

  .footerbox {
    width: 33%;
  }

  footer ul li {
    margin: 25px auto;
  }

  h4 {
    font-size: 32px;
    margin-bottom: 25px;
  }

  footer p {
    font-size: 24px;
  }

}

@media(min-width: 480px) {
  /* large portrait screens */

  /******************************************
/* BASE STYLES
/*******************************************/

  body {
    max-width: 480px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.2;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .container {
    max-width: 100%;
    height: auto;
  }

  /******************************************
  /* LAYOUT
  /*******************************************/

  /* Header */

  header {
    padding-bottom: 150px;
  }

  .title {
    font-size: 24px;
    padding-top: 25px;
    padding-left: 30px;
  }

  .logo {
    font-size: 60px;
  }

  #header-photo {
  
  }

  .centered-title {
    padding-left: 70px;
  }

  .contact-title {
    padding-left: 125px;
  }

  #welcome-to {
    padding-left:55px;
  }

  /* Navigation Menu */

  nav {
    padding: 10px;
    font-size: 22px;
  }

  nav ul li {
    margin: 0 20px 0 20px;
    padding: 10px;
  }

  /* Homepage */

  .topbox {
    min-height: 500px;
    padding: 10px;
  }

  .welcome {
    width: 316px;
    padding: 26px;
    margin: 20px;
    font-size: 24px;
  }

  .navmargin {
    margin-bottom: 25px;
  }

  .indented-paragraph {
    margin: 0 35px;
  }

  #navigation-section {
    margin: 25px 0px 20px 20px;
    line-height: 30px;
    border-bottom: 15px;
  }

  .navigation-instructions {
    padding: 5px 30px 30px 10px;
    width: 45%;
  }

  .navigation-graphic {
    margin: 15px 15px 15px 0px;
  }

  #history-instructions {
    margin: 0 25px 0 0;
  }

  #updates {
    padding-top: 25px;
    margin: 25px auto;
  }

  .paragraph {
    margin: 25px;
  }

  h2 {
    font-size: 38px;
    padding-bottom: 15px;
    padding-top: 25px;
  }

  h3 {
    font-size:26px;
  }

    h3 a {
    font-size: 26px;
  }

  #ads {
    margin: 25px 75px 25px 45px;
  }

  #newsroom {
    margin-left: 35px;
  }

  #collage img {
    width: 50%;
  }

  /*History*/

  #history-title {
    padding-left: 235px;
    font-size: 26px;
  }

  .smallbox {
    width: 33%;
    margin: 40px auto;
    padding-right: 20px;
  }

  .category {
    width: 45%;
    margin: 15px 40px 15px 0;
  }

  .history-category {
    width: 50%;
    display: inline-block;
    float: left;
    padding: 15px;
  }

  .body-text {
    padding-top: 25px;
  }

  #news-timeline {
    margin-bottom: 35px;
  }

  #slide-show-title {
    font-size: 36px;
    padding: 45px 0 15px 0;
  }

  /*About*/

  #bioblock {
    margin: 40px auto;
    padding-bottom: 600px;
  }

  .bio {
    width: 50%;
    margin-right: 50px;
    margin-bottom: 25px;
    margin-left: 35px;
  }

  .biopic {
    padding-top: 85px;
  }

  /* Contact */

  form {
    margin: 25px 25px 25px 125px;
  }

  #note {
    width: 45%;
    padding: 25px;
    font-size: 26px;
    line-height: 40px;
  }

  #notephoto {
    margin: 25px;
    margin-bottom: 50px;
  }

  /* Newsfeed */

  #mission {
    font-size: 30px;
    line-height: 1.7;
  }

  #guide {
    font-size: 30px;
  }

  #nfh {
    margin-bottom: 25px;
  }

  #foodMap {
      width: 27.3%;
  }

  .intro {
    margin: 25px 25px 25px 70px;
    width: 85%;
  }

  .latest-review {
    padding: 25px 0;
    margin: 30px auto;
  }

  #review-title {
    width: 850px;
    padding: 30px;
    margin-left: 50px;
  }

  .food-intro {
    margin-top: 15px;
  }

  .review {
    padding: 40px 0px 0px 55px;
    height: 550px;
  }

  .food-review {
    width: 45%;
    padding-right: 25px;
  }

  .food-photo {
    width: 45%;
    padding-left: 45px;
    padding-top: 55px;
  }

  h6 {
    font-size: 22px;
  }

  .address {
    padding: 15px 0;
  }

  .right-page {
    margin-left: 35px;
  }

  #mid-atlantic {
    width: 23%;
    min-height: 150px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #midwest {
    width: 23%;
    min-height: 150px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #northeast {
    width: 23%;
    min-height: 150px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #pacific-northwest {
    width: 23%;
    min-height: 150px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #southeast {
    width: 23%;
    min-height: 150px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #southwest {
    width: 23%;
    min-height: 150px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #west {
    width: 23%;
    min-height: 150px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #international {
    width: 23%;
    min-height: 150px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  .region h5 {
    font-size: 22px;
  }

  /*Food Map*/

  #large-food-map {
    padding-top: 25px;
  }

  .close {
      top: 15px;
      right: 35px;
      font-size: 40px;
  }

   /* That's The Way It Was */

  .newspaper {
      padding-left: 50px;
  }

  .newspaper img {
      width: 95%;
  }

  /* For More On The Story */

  .text-left {
    width: 50%;
    line-height: 34px;
  }

  .text {
    line-height: 34px;
    margin: 15px 0;
  }

  #pinata {
    width: 45%;
    margin: 5px 0 25px 35px;
  }

  #trump-toilet-paper {
    margin-right: 45px;
  }
  
  /* Conflict Gallery */

  .navigation-bar {
    margin-top: 25px;
    padding-top: 5px;
    font-size: 14px;
  }

  .next-item {
    font-size: 14px;
    margin-top: 5px;
  }

  #gulf-wars {
    width: 30%;
    min-height: 200px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #balkan-wars {
    width: 30%;
    min-height: 200px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #afghanistan {
    width: 30%;
    min-height: 200px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #arab-israeli-conflict {
    width: 30%;
    min-height: 200px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #chechnya {
    width: 32%;
    min-height: 200px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #other-conflicts {
    width: 30%;
    min-height: 200px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  .conflict-category h5 {
    font-size: 22px;
    margin-top: 125px;
  }

  /* Gallery Category Pages */

  .gallery-layout {
    margin-bottom: 25px;
  }

  .gallery-section-intro {
    margin: 25px 0;
  }

  /* Gallery Item Pages */

  .item-pages {
    margin: 25px auto;
  }

  .item-image {
    margin-right: 20px;
  }

  /* Footer */

  footer {
    padding: 30px;
  }

  .footerbox {
    width: 33%;
  }

  footer ul li {
    margin: 25px auto;
  }

  h4 {
    font-size: 32px;
    margin-bottom: 25px;
  }

  footer p {
    font-size: 24px;
  }

}

@media(min-width: 640px) {
  /* landscape view */  
  /******************************************
/* BASE STYLES
/*******************************************/

  body {
    max-width: 640px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.2;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .container {
    max-width: 100%;
    height: auto;
  }

  /******************************************
  /* LAYOUT
  /*******************************************/

  /* Header */

  header {
    padding-bottom: 150px;
  }

  .title {
    font-size: 24px;
    padding-top: 25px;
    padding-left: 30px;
  }

  .logo {
    font-size: 60px;
  }

  #header-photo {
    
  }

  .centered-title {
    padding-left: 70px;
  }

  .contact-title {
    padding-left: 125px;
  }

  #welcome-to {
    padding-left:55px;
  }

  /* Navigation Menu */

  nav {
    padding: 10px;
    font-size: 22px;
  }

  nav ul li {
    margin: 0 20px 0 20px;
    padding: 10px;
  }

  /* Homepage */

  .topbox {
    min-height: 500px;
    padding: 10px;
  }

  .welcome {
    width: 316px;
    padding: 26px;
    margin: 20px;
    font-size: 24px;
  }

  .navmargin {
    margin-bottom: 25px;
  }

  .indented-paragraph {
    margin: 0 35px;
  }

  #navigation-section {
    margin: 25px 0px 20px 20px;
    line-height: 30px;
    border-bottom: 15px;
  }

  .navigation-instructions {
    padding: 5px 30px 30px 10px;
    width: 45%;
  }

  .navigation-graphic {
    margin: 15px 15px 15px 0px;
  }

  #history-instructions {
    margin: 0 25px 0 0;
  }

  #updates {
    padding-top: 25px;
    margin: 25px auto;
  }

  .paragraph {
    margin: 25px;
  }

  h2 {
    font-size: 38px;
    padding-bottom: 15px;
    padding-top: 25px;
  }

  h3 {
    font-size:26px;
  }

    h3 a {
    font-size: 26px;
  }

  #ads {
    margin: 25px 75px 25px 45px;
  }

  #newsroom {
    margin-left: 35px;
  }

  #collage img {
    width: 50%;
  }

  /*History*/

  #history-title {
    padding-left: 235px;
    font-size: 26px;
  }

  .smallbox {
    width: 33%;
    margin: 40px auto;
    padding-right: 20px;
  }

  .category {
    width: 45%;
    margin: 15px 40px 15px 0;
  }

  .history-category {
    width: 50%;
    display: inline-block;
    float: left;
    padding: 15px;
  }

  .body-text {
    padding-top: 25px;
  }

  #news-timeline {
    margin-bottom: 35px;
  }

  #slide-show-title {
    font-size: 36px;
    padding: 45px 0 15px 0;
  }

  /*About*/

  #bioblock {
    margin: 40px auto;
    padding-bottom: 600px;
  }

  .bio {
    width: 50%;
    margin-right: 50px;
    margin-bottom: 25px;
    margin-left: 35px;
  }

  .biopic {
    padding-top: 85px;
  }

  /* Contact */

  form {
    margin: 25px 25px 25px 125px;
  }

  #note {
    width: 45%;
    padding: 25px;
    font-size: 26px;
    line-height: 40px;
  }

  #notephoto {
    margin: 25px;
    margin-bottom: 50px;
  }

  /* Newsfeed */

  #mission {
    font-size: 30px;
    line-height: 1.7;
  }

  #guide {
    font-size: 30px;
  }

  #nfh {
    margin-bottom: 25px;
  }

  #foodMap {
      width: 27.3%;
  }

  .intro {
    margin: 25px 25px 25px 70px;
    width: 85%;
  }

  .latest-review {
    padding: 25px 0;
    margin: 30px auto;
  }

  #review-title {
    width: 850px;
    padding: 30px;
    margin-left: 50px;
  }

  .food-intro {
    margin-top: 15px;
  }

  .review {
    padding: 40px 0px 0px 55px;
    height: 550px;
  }

  .food-review {
    width: 45%;
    padding-right: 25px;
  }

  .food-photo {
    width: 45%;
    padding-left: 45px;
    padding-top: 55px;
  }

  h6 {
    font-size: 22px;
  }

  .address {
    padding: 15px 0;
  }

  .right-page {
    margin-left: 35px;
  }

  #mid-atlantic {
    width: 23%;
    min-height: 150px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #midwest {
    width: 23%;
    min-height: 150px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #northeast {
    width: 23%;
    min-height: 150px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #pacific-northwest {
    width: 23%;
    min-height: 150px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #southeast {
    width: 23%;
    min-height: 150px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #southwest {
    width: 23%;
    min-height: 150px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #west {
    width: 23%;
    min-height: 150px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #international {
    width: 23%;
    min-height: 150px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  .region h5 {
    font-size: 22px;
  }

  /*Food Map*/

  #large-food-map {
    padding-top: 25px;
  }

  .close {
      top: 15px;
      right: 35px;
      font-size: 40px;
  }

   /* That's The Way It Was */

  .newspaper {
      padding-left: 50px;
  }

  .newspaper img {
      width: 95%;
  }

  /* For More On The Story */

  .text-left {
    width: 50%;
    line-height: 34px;
  }

  .text {
    line-height: 34px;
    margin: 15px 0;
  }

  #pinata {
    width: 45%;
    margin: 5px 0 25px 35px;
  }

  #trump-toilet-paper {
    margin-right: 45px;
  }

  /* Conflict Gallery */

  .navigation-bar {
    margin-top: 25px;
    padding-top: 5px;
    font-size: 14px;
  }

  .next-item {
    font-size: 14px;
    margin-top: 5px;
  }

  #gulf-wars {
    width: 30%;
    min-height: 200px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #balkan-wars {
    width: 30%;
    min-height: 200px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #afghanistan {
    width: 30%;
    min-height: 200px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #arab-israeli-conflict {
    width: 30%;
    min-height: 200px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #chechnya {
    width: 32%;
    min-height: 200px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  #other-conflicts {
    width: 30%;
    min-height: 200px;
    margin: 25px auto;
    padding-top: 50px;
    margin-right: 15px;
  }

  .conflict-category h5 {
    font-size: 22px;
    margin-top: 125px;
  }

  /* Gallery Category Pages */

  .gallery-layout {
    margin-bottom: 25px;
  }

  .gallery-section-intro {
    margin: 25px 0;
  }

  /* Gallery Item Pages */

  .item-pages {
    margin: 25px auto;
  }

  .item-image {
    margin-right: 20px;
  }

  /* Footer */

  footer {
    padding: 30px;
  }

  .footerbox {
    width: 33%;
  }

  footer ul li {
    margin: 25px auto;
  }

  h4 {
    font-size: 32px;
    margin-bottom: 25px;
  }

  footer p {
    font-size: 24px;
  }

}